h1{
  font-family: 'Patrick Hand', cursive;
  color: #499CB3;
}

body {
  background-color: #FCFBE5
}

h2 {
  font-family: 'Patrick Hand', cursive;
  color: #CA7858;
}

h4 {
  font-family: 'Patrick Hand', cursive;
  color: #778A65;
}
